Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length

CheckOptions:
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberPrefix
    value: m_

  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_

  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariablePrefix
    value: s_

  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: g_

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterPrefix
    value: _

  - key: readability-identifier-naming.ClassCase
    value: lower_case

  - key: readability-identifier-naming.StructCase
    value: lower_case

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.EnumCase
    value: lower_case

  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case

  - key: readability-identifier-naming.ConstantCase
    value: lower_case

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file