BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Allman

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Left

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
BinPackParameters: false
BinPackArguments: false

ReflowComments: true

CompactNamespaces: false
FixNamespaceComments: true

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1